{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Welcome to our website</h1>
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <form method="post" style="width: 70%">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="btn btn-primary mt-3" type="submit" style="width: 100%;">
                        Sign in
                    </button>
                </form>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <form action="{{ path('app_register') }}" method="post" style="width: 70%">
                    {{ form_start(formRegister) }}
                        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
                        {{ form_row(formRegister.firstname) }}
                        {{ form_row(formRegister.lastname) }}
                        {{ form_row(formRegister.email) }}
                        {{ form_row(formRegister.password) }}
                        {{ form_row(formRegister.agreeTerms) }}
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Register</button>
                    {{ form_end(formRegister) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
